//site color variables
$body-color: #FFF;
$primary-color: #EAA4A4;
$secondary-color: #ADD6D2;
$text-color: #9D9EA5;
$text-color-dark: #00113E;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #F7F9FF;
$dark-gray: #646569;

// solid colors
$white: #FFF;
$black: #000;
$linen: #FCF5EF;
$sunshade: #FEA735;
$burning-orange: #FE7235;
$bright-turquoise: #00C3FF;
$azure-radiance: #0077FF;

// Font Variables
$cabin: 'Cabin',
sans-serif;
$arvo: 'Arvo',
sans-serif;
$belgrano: 'Belgrano',
sans-serif;
$merriweather: 'Merriweather',
serif;

// custom colors
$greydark: #323539;
$textdark: #333;
$yellow: #ffda00;
$projbackground: #EFEEEE;