.site-client {
  padding: 100px 0 50px;
  background: $greydark;

  .section-title {
    margin-bottom: 100px;

    h2 {
      color: $projbackground;
    }
  }

  &-wrapper {
    display: flex;
    flex-wrap: wrap;

    @include desktop {
      justify-content: center;
    }
  }

  &-item {
    text-align: center;
    width: 20%;
    margin-bottom: 50px;

    @include desktop {
      width: 33.33%;
    }

    @include mobile {
      width: 50%;
    }
  }
}