.site-expertise {
  padding: 100px 0;
  background: $greydark;

  h2 {
    color: $projbackground;
  }



  &-list {
    padding: 0;
    margin: 10px 0 0 20px;

    @include mobile {
      text-align: center;
      margin: 0;
    }

    li {
      list-style: none;
      font-size: 25px;
      line-height: 37.5px;
      font-weight: 300;
      color: $projbackground;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}